<div class="n__c--i-knob__wheel" {{action "startTurning" on="mouseDown"}} style={{wheelStyle}}>
  <div class="n__c--i-knob__wheel__marker"></div>
</div>
<div class="n__c--i-knob__value">{{round-down value 2}}</div>
<div class="n__c--i-knob__label">
  {{label}}
</div>
